<!-- <!DOCTYPE html>
<head>
    
</head>
<body style="background-image: url('rhel.png');">
    <form action="/commands">
        
        <link rel="stylesheet" href="style.css">
        <label for="cmd"><h2 style="font-size: 500%; background-color:rgb(31, 30, 24); color:red; text-align: center;"><b><strong>Enter Linux command:</strong></b></h2></label>
        <input type="text" name="command" ><br><br>
        <input type="submit" value="submit">
    </form>
    
</body> -->

<!DOCTYPE html>
<html lang="eng">
<head>
    <!-- <link rel="stylesheet" href="/assets/style.css"> -->
    <title>"virtual terminal"</title>
<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>

<body>
    <h1>"Welcome to Home Page !!</h1>
    <!-- form will redirected or route to /cmd endpoint with post method -->
    <form action="/cmd" method="POST" >
        
        <!-- <label for="command"><h2 style="font-size: 500%; background-color:rgb(31, 30, 24); color:red; text-align: center;"><b><strong>Virtual Terminal</strong></b></h2></label> -->
        <!-- <label for="xyz"><h4 style="font-size:large; font-family: sans-serif; text-align: center; "></h4></label> -->
        <label for="c">Enter Your Command: </label>
        <input type="text"  name="command" placeholder="Enter Your Commands" id="c"><br><br>
        <input type="submit" value="Enter">
    </form>
</body>
</html>