<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/url.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
  <title>Web Terminal || viveksahu26</title>
</head>
<body>
  <div class="card">
    <div class="text">
      <h1>Web Terminal !!</h1>
    </div>
      <form method="POST" action="/cmd">
          <label for="c">$ </label>
          <input type="text" name="command" id="c" placeholder="Enter Your Commands" style="font-size: 25px; color:red; text-align: center;"><br><br><br><br>
          <input type="submit" name="submit" value="Send" style="font-size: 20px; color:black ">
      </form>
  </div>
  <div class="credit">Made with <span style="color:tomato">❤</span> by <a style="color:deeppink ;">viveksahu26</a></div>    
  <div class="space"></div>
</body>
</html>
